@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&family=Open+Sans:wght@300;400;600&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
}

img {
  max-width: 100%;
}

.main-img {
  width: 400px;
}

h1 {
  background-color: honeydew;
  color: #fb602e;
}

h2 {
  color: #7ebe51;
}

.recipe-img {
  width: 300px;
}